@import "../../../assets/styles/variables.scss";

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  .menu {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    li {
      list-style-type: none;
    }

    .menuItem a {
      margin-left: 50px;
      list-style-type: none;
      font-weight: 600;
      font-size: 21px;
      line-height: 26px;
      text-transform: uppercase;
      color: #000;
      padding: 0;
      position: relative;
      text-decoration: none;
      &:hover::after {
        opacity: 1;
        -webkit-transform: translateX(-25px);
        transform: translateX(-25px);
      }
      &::after {
        position: absolute;
        content: "";
        width: 4px;
        height: 4px;
        bottom: 50%;
        right: -40px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: #ff3928;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }
    a.activeMenu[href="/"],
    a.activeMenu[href="/projects"],
    a.activeMenu[href="/contact-us"] {
      color: #ff3928 !important;
      &::after {
        opacity: 1 !important;
        -webkit-transform: translateX(-25px) !important;
        transform: translateX(-25px) !important;
      }
    }
  }
}

// burger

.burger,
.mobileLogo {
  display: none;
}

@media (max-width: 992px) {
  .activeLogo {
    position: absolute;
    content: "";
    left: 15px;
    display: block;
    z-index: 900;
    svg {
      fill: #fff;
      path,
      line {
        fill: #fff;
        stroke: #fff;
      }
    }
  }
  .burger {
    display: block;
    margin-left: auto;
  }
  .nav {
    .menu {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      right: -101%;
      background: #000;
      padding: 95px 15px 30px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      z-index: 887;
      flex-direction: column;
      justify-content: unset;
      .menuItem a {
        color: #fff;
        opacity: 0;
        transition: all 0.1s;
        transition-delay: 0.5s;
        font-weight: 700;
        font-size: 30px;
        line-height: 70px;
        margin: 0;
      }
    }
  }
  .open {
    right: 0 !important;
    .menuItem a {
      opacity: 1 !important;
      // transform: scale(1) !important;
      transition: all 2s !important;
    }
  }
}
