@import "@/assets/styles/variables.scss";

.projectWrap {
  width: 100%;
  padding: 0 25px;
  overflow: hidden;
}

.project {
  border-radius: 16px;
  margin-bottom: 50px;
  overflow: hidden;
  -webkit-box-shadow: #c8cad6 4px 4px 4px, #fdfdff -4px -4px 4px;
  box-shadow: #c8cad6 4px 4px 4px, #fdfdff -4px -4px 4px;
  width: 100%;
  min-height: 680px;
  background-color: #F9F9F9;
  transition: background-color .5s ease;
  &:hover {
    background-color: #F9F9F9;
    .content {
      transition: all .5s ease;
      background-color: #F9F9F9;
      border-top: 2px solid $activeTextColor;
      .btns {
        transition: all .5s ease;
        .web {
          transition: all .5s ease;
          .webText {
            transition: all .5s ease;
            color: $activeTextColor;
          }
        }
        .detail {
          &::after {
            background-color: $activeTextColor;
          }
        }
      }
    }
  }
  a {
    color: #fff;
  }
  .img {
    position: relative;
    height: 455px;
    width: 100%;
    img {
      height: 455px;
      width: 100%;
      // max-height: 455px;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: top center;
      object-position: top center;
      position: relative;
      // width: 100%;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(229, 231, 242, 0.3);
    }
  }
  .content {
    transition: border 0.5s ease;
    transition: background-color .5s ease;
    padding: 30px 30px 20px;
    background-color: #F9F9F9;
    border-top: 2px solid transparent;
    height: auto;
    .title {
      font-size: 35px;
      line-height: 1.2em;
      font-weight: 700;
      color: $mainTextColor;
      text-transform: capitalize !important;
    }
    .descr {
      color: $mainTextColor;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      margin: 10px 0 20px 0;
    }
    .btns {
      display: flex;
      align-items: center;
      .detail {
        cursor: pointer;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        white-space: nowrap;
        width: 200px;
        height: 50px;
        // padding: 1.1rem 2.4rem 1.1rem 2.1rem;
        border-radius: 50px;
        color: #fff;
        background-color: #000;
        position: relative;
        overflow: hidden;
        -webkit-transition: -webkit-transform 0.4s
          cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
          -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        .detailText {
          display: inline-block;
          will-change: transform;
          -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
          -webkit-transition: -webkit-transform 0.4s
            cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: -webkit-transform 0.4s
            cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
            -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &::after {
          content: "";
          position: absolute;
          width: 6px;
          height: 6px;
          top: 50%;
          right: 1.5rem;
          border-radius: 50%;
          background-color: #fff;
          will-change: transform;
          -webkit-transition: -webkit-transform 0.7s
            cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: -webkit-transform 0.7s
            cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1),
            -webkit-transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
            transform: translateY(-50%);
        }
        &:hover::after {
          -webkit-transform: translate3d(4.4rem, 0, 0) scale(0.2);
          transform: translate3d(4.4rem, 0, 0) scale(0.2);
        }
        &:hover .detailText {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
      }
      .web {
        transition: all .5s ease;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        color: $mainTextColor;
        white-space: nowrap;
        padding: 1.1rem 2.4rem 1.1rem 2.1rem;
        white-space: nowrap;
        border-radius: 50px;
        background-color: transparent;
        position: relative;
        overflow: hidden;
        -webkit-transition: -webkit-transform 0.4s
          cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
          -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        &::after {
          content: "";
          position: absolute;
          width: 6px;
          height: 6px;
          top: 50%;
          right: 1.5rem;
          border-radius: 50%;
          background-color: #000;
          -webkit-transform: translate3d(4.4rem, -50%, 0) scale(0.2);
          transform: translate3d(4.4rem, -0, 0) scale(0.2);
          will-change: transform;
          -webkit-transition: -webkit-transform 0.7s
            cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: -webkit-transform 0.7s
            cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1),
            -webkit-transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &:hover .webText {
          -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
        }
        .webText {
          transition: all .5s ease;
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
          color: $mainTextColor;
          text-decoration: none;
          display: inline-block;
          will-change: transform;
          -webkit-transition: -webkit-transform 0.4s
            cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: -webkit-transform 0.4s
            cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
            -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
          &::after {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            top: 30%;
            right: 1.5rem;
            border-radius: 50%;
            background-color: #000;
            -webkit-transform: translate3d(4.4rem, 0, 0) scale(0.2);
            transform: translate3d(4.4rem, 0, 0) scale(0.2);
            will-change: transform;
            -webkit-transition: -webkit-transform 0.7s
              cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: -webkit-transform 0.7s
              cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1),
              -webkit-transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
          }
          &:hover::after {
            -webkit-transform: translate3d(2.7rem, 0, 0) scale(1);
            transform: translate3d(2.7rem, 0, 0) scale(1);
          }
        }
      }
    }
  }
}

@media (max-width: 1450px) {
  .project {
    .content {
      position: relative;
      min-height: 350px;
      .title {
        margin-bottom: 30px;
      }
      .btns {
        position: absolute;
        content: "";
        bottom: 50px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .projectWrap {
    padding: 0 15px;
  }
  .project {
    .content {
      position: relative;
      min-height: 350px;
      .title {
        margin-bottom: 15px;
      }
      .btns {
        position: absolute;
        content: "";
        bottom: 50px;
      }
    }
  }
}

@media (max-width: 992px) {
  .projectWrap {
    width: 100%;
  }
  .project {
    min-height: 500px;
    .img {
      height: 340px;
      img {
        height: 100%;
        object-position: top left;
      }
    }
    .content {
      min-height: 280px;
      padding: 25px 40px;
    }
  }
}

@media (max-width: 578px) {
  .projectWrap {
    padding: 0 5px;
  }
  .project {
    .img {
      height: 260px;
    }
    .content {
      padding: 25px 10px;
      min-height: 240px;
      .title {
        font-size: 22px;
      }
      .descr {
        font-size: 18px;
      }
      .btns {
        bottom: 20px;
        .web {
          padding: 1rem;
          .webText {
            font-size: 16px;
          }
        }
        .detail {
          padding: 1rem 2rem;
          font-size: 16px;
        }
      }
    }
  }
}
