@import "@/assets/styles/variables.scss";

.single {
  overflow: hidden;
  padding-top: 140px;
  .headSection {
    min-height: 900px;
    padding: 20px 0 100px;
  }
  .title {
    display: block;
    max-width: 1100px;
    font-weight: 700;
    color: $mainTextColor;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    margin: 0 auto 20px;
  }
  .topImgOwn {
    max-width: 350px;
    margin: 100px auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .hourWrap {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 20px;
    .hourBlock {
      padding: 0 20px;
      .hourTitle {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: -0.015em;
        color: $mainTextColor;
        span {
          font-size: 25px;
          line-height: 35px;
          margin-left: 15px;
        }
      }
      .hourDescr {
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        color: $activeTextColor;
      }
    }
  }
  //   MainTasks
  .mainTask {
    padding: 60px 0;
    background-color: $singlePostSecondColor;

    .taskTitle {
      font-size: 40px;
      line-height: 1.3em;
      margin-bottom: 20px;
      text-align: center;
      color: $mainTextColor;
      font-weight: 700;
    }
    .taskDescr {
      max-width: 690px;
      margin: 0 auto 80px;
      text-align: center;
      font-size: 18px;
      line-height: 25px;
    }
    .view {
      border: 10px solid #000000;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 30px;
      overflow: hidden;
      position: relative;
      .viewBox {
        height: 900px;
        overflow: auto;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .dev {
    padding-top: 60px;
    .devTitle {
      text-align: center;
      margin-bottom: 40px;
      font-size: 40px;
      line-height: 1.3em;
      font-weight: 700;
      color: $mainTextColor;
    }

    .devWrap {
      display: flex;
      align-items: center;
      .devImg {
        width: 50%;
      }
      .devDescrTitle {
        max-width: 570px;
        margin-left: auto;
        font-size: 18px;
        color: $mainTextColor;
        line-height: 30px;
      }
      .devDescr {
        max-width: 570px;
        margin-left: auto;
      }
    }
  }
  //   resp

  .resp {
    padding: 60px 0;
    .respTitle {
      text-align: center;
      font-size: 40px;
      line-height: 1.3em;
      margin-bottom: 20px;
      font-weight: 700;
      color: $mainTextColor;
    }
    .respDescr {
      max-width: 770px;
      margin: 0 auto 150px;
      text-align: center;
    }
    .respWrap {
      display: flex;
      justify-content: center;
      .resImg {
        padding: 0 15px;
        &:nth-child(2) {
          transform: translateY(-120px);
        }
        img {
          height: auto;
        }
      }
    }
  }
  .testing {
    padding-top: 60px;
    .testingTitle {
      text-align: center;
      font-size: 40px;
      line-height: 1.3em;
      margin-bottom: 20px;
      font-weight: 700;
      color: $mainTextColor;
    }
    .testingDescr {
      max-width: 830px;
      margin: 0 auto 45px;
      text-align: center;
      font-size: 18px;
      line-height: 25px;
    }

    .testingWrap {
      display: flex;
      justify-content: space-between;
      .testingItem {
        padding: 0 15px;
      }
      .testItem {
        padding: 5%;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        .testingObject {
          margin-bottom: 15px;
          font-size: 30px;
          line-height: 1.2em;
          font-weight: 700;
          color: $mainTextColor;
        }
        ul {
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          li {
            flex-basis: 38%;
            color: $mainTextColor;
            font-size: 18px;
            line-height: 25px;
            padding-left: 20px;
            position: relative;
            cursor: pointer;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            list-style-type: none;
            &:hover {
              color: $activeTextColor;
              transform: translateX(5px);
            }
            &::before {
              position: absolute;
              content: "";
              width: 4px;
              height: 4px;
              top: 15px;
              left: 5px;
              border-radius: 50%;
              background-color: currentColor;
            }
          }
        }
        .second,
        .third {
          li {
            flex-basis: 100%;
          }
        }
      }
    }
  }
  //   sup

  .support {
    padding-top: 60px;
    padding-bottom: 20px;
    .supportTitle {
      text-align: center;
      font-size: 40px;
      line-height: 1.3em;
      margin-bottom: 20px;
      color: $mainTextColor;
      font-weight: 700;
    }
    .supportDescr {
      text-align: center;
      max-width: 820px;
      margin: 0 auto 90px;
      font-size: 18px;
      line-height: 30px;
    }
    .supportWrap {
      display: flex;
      align-items: center;
    }
    .supportTextBlock {
      padding-right: 18%;
      width: 50%;
    }
    .supportImg {
      width: 50%;
    }
    .supportBlockTitle {
      margin-bottom: 20px;
      font-size: 40px;
      line-height: 1.2em;
      font-weight: 700;
      color: $mainTextColor;
    }
    .supportBlockDescr {
      font-size: 18px;
      line-height: 30px;
    }
  }
  .supportBtn {
    cursor: pointer;
    margin-top: 30px;
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    white-space: nowrap;
    padding: 1.1rem 2.8rem 1.1rem 2.1rem;
    border-radius: 50px;
    color: #fff;
    background-color: #000;
    position: relative;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.4s
      cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
      -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    span {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      white-space: nowrap;
      //   padding: 1.1rem 2.4rem 1.1rem 2.1rem;
      //   border-radius: 50px;
      color: #fff;
      background-color: #000;
      position: relative;
      overflow: hidden;
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
      -webkit-transition: -webkit-transform 0.4s
        cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
        -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      top: calc(50% - 0.2rem);
      right: 1.5rem;
      border-radius: 50%;
      background-color: #fff;
      will-change: transform;
      -webkit-transition: -webkit-transform 0.7s
        cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: -webkit-transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1),
        -webkit-transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &:hover {
      span {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      &::after {
        -webkit-transform: translate3d(4.4rem, 0, 0) scale(0.2);
        transform: translate3d(4.4rem, 0, 0) scale(0.2);
      }
    }
  }
  //   manage

  .manage {
    padding-bottom: 170px;
    padding-top: 60px;
    .manageTopWrap {
      display: flex;
      width: 100%;
      .manageImg {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(265px, auto));
        gap: 30px;
        img:first-child {
          grid-column: 1/3;
          text-align: center;
          margin: 0 auto;
          width: 420px !important;
        }
      }
      .topTextBlock {
        width: 40%;
      }
      .topTestWrapLast {
        transform: translateX(-120px);
        .topTitle {
          margin-bottom: 20px;
          font-size: 40px;
          line-height: 1.2em;
          font-weight: 700;
          color: $mainTextColor;
        }
        .topDescr {
          font-size: 18px;
          line-height: 25px;
          color: $mainTextColor;
        }
        .topList {
          margin-top: 0;
          margin: 0 0 1.5em 3em;
          margin-bottom: 1rem;
          li {
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
          }
        }
      }
      .topBtnsWrap {
        min-height: 363px;
        display: flex;
        justify-content: center;
        align-items: center;
        .bottomImgBtn {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 220px;
          height: 50px;
          font-weight: 500;
          font-size: 18px;
          line-height: 1;
          text-align: center;
          color: $activeTextColor;
          border-radius: 50px;
          text-transform: uppercase;
          position: relative;
          z-index: 2;
          border: 2px solid $activeTextColor;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
  .nextProject {
    min-height: 750px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(221, 225, 237, 0.7);
      -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
      -o-backdrop-filter: blur(5px);
      -ms-backdrop-filter: blur(5px);
      -moz-backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      pointer-events: none;
    }
    .nextWrapper {
      min-height: 750px;
      display: flex;
      justify-content: center;
      align-items: center;
      .nextBtn {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        border: 2px solid $activeTextColor;
        border-radius: 50px;
        line-height: 1;
        text-align: center;
        color: $activeTextColor;
        position: relative;
        z-index: 2;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1440px) {
  .single {
    .headSection {
      min-height: 550px;
      padding: 0px 0 40px;
      .title {
        max-width: 70%;
        font-size: 35px;
        line-height: 50px;
      }
      .hourWrap {
        .hourBlock {
          .hourTitle {
            font-size: 25px;
            line-height: 35px;
            span {
              font-size: 18px;
              line-height: 25px;
              margin-left: 15px;
            }
          }
        }
      }
    }
    // main

    .mainTask {
      padding: 50px 0;
      .taskTitle {
        font-size: 35px;
        line-height: 1.2em;
        margin-bottom: 15px;
      }
      .taskDescr {
        margin: 0 auto 30px;
      }
      .view {
        height: 550px;
        .viewBox {
          height: 550px;
        }
      }
    }

    // dev

    .dev {
      padding-top: 50px;
      .devTitle {
        font-size: 35px;
        line-height: 1.2em;
      }
      .devWrap {
        .devDescr {
          padding-left: 10%;
        }
      }
    }

    // responsive
    .resp {
      padding-top: 50px;
      .respTitle {
        font-size: 35px;
        line-height: 1.2em;
        margin-bottom: 15px;
      }
      .respDescr {
        margin: 0 auto 80px;
      }
      .respWrap {
        max-width: 650px;
        margin: 0 auto;
        img {
          width: 197px;
          height: 382px;
        }
        .resImg {
          &:nth-child(2) {
            transform: translateY(-50px);
          }
        }
      }
    }
    // testing

    .testing {
      padding: 50px 0;
      .testingTitle {
        font-size: 35px;
        line-height: 1.2em;
        margin-bottom: 15px;
      }
      .taskDescr {
        max-width: 80%;
        margin: 0 auto 20px;
      }
      .testingWrap {
        .testingItem {
          .testItem {
            .testingObject {
              font-size: 20px;
              line-height: 1.1em;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    // support

    .support {
      padding: 50px 0 20px 0;
      .supportTitle {
        font-size: 35px;
        line-height: 1.2em;
        margin-bottom: 15px;
      }
      .supportWrap {
        .supportTextBlock {
          padding-right: 10%;
          .supportBlockTitle {
            font-size: 20px;
            line-height: 1.1em;
          }
        }
      }
    }
    // manage

    .manage {
      padding: 50px 0 70px 0;
      .topTitle {
        font-size: 25px;
        line-height: 1.1em;
      }
      .manageTopWrap {
        .manageImg {
          img {
            max-width: 305px;
          }
        }
      }
    }
    // next project

    .nextProject {
      min-height: 450px;
      .nextWrapper {
        min-height: 450px;
      }
    }
  }
}

@media (max-width: 992px) {
  .single {
    .headSection {
      .title {
        font-size: 30px;
        line-height: 46px;
      }
      .hourWrap {
        .hourBlock {
          .hourTitle {
            font-size: 20px;
            line-height: 30px;
            span {
              font-size: 16px;
              line-height: 25px;
              margin-left: 15px;
            }
          }
        }
      }
    }
    // main

    .mainTask {
      .taskTitle {
        font-size: 30px;
        line-height: 1.1em;
      }
      .taskDescr {
        margin: 0 auto 30px;
      }
      .view {
        height: 550px;
        .viewBox {
          height: 550px;
        }
      }
    }

    // dev

    .dev {
      .devTitle {
        font-size: 30px;
        line-height: 1.1em;
      }
      .devWrap {
        flex-direction: column-reverse;
        .devDescr {
          max-width: 90%;
          margin: 0 auto 30px;
          padding: 0;
          text-align: center;
        }
        .devImg {
          width: 100%;
        }
      }
    }

    // responsive
    .resp {
      .respTitle {
        font-size: 30px;
        line-height: 1.1em;
      }
      .respDescr {
        margin: 0 auto 80px;
      }
      .respWrap {
        max-width: 650px;
        margin: 0 auto;
        img {
          width: 197px;
          height: 382px;
        }
        .resImg {
          &:nth-child(2) {
            transform: translateY(-50px);
          }
        }
      }
    }
    // testing

    .testing {
      padding: 50px 0;
      .testingTitle {
        font-size: 30px;
        line-height: 1.1em;
      }
      .taskDescr {
        max-width: 80%;
        margin: 0 auto 20px;
      }
      .testingWrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(200px, auto));
        .testingItem {
          padding: 0 15px;
          &:nth-child(2) {
            transform: translateY(100px);
          }
          .testItem {
            ul {
              li {
                flex-basis: 100%;
              }
            }
            .testingObject {
              font-size: 20px;
              line-height: 1.1em;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    // support

    .support {
      padding: 50px 0 20px 0;
      .supportTitle {
        font-size: 30px;
        line-height: 1.1em;
      }
      .supportDescr {
        margin: 0 auto 40px;
      }
      .supportWrap {
        flex-direction: column-reverse;
        .supportTextBlock {
          padding-right: 0%;
          width: 100%;
          .supportBlockTitle {
            font-size: 20px;
          }
        }
        .supportImg {
          width: 100%;
        }
      }
    }
    // manage

    .manage {
      padding: 50px 0 70px 0;
      .topTitle {
        font-size: 20px;
        line-height: 1.1em;
      }
      .manageTopWrap {
        flex-wrap: wrap;
        .topBtnsWrap {
          svg {
            width: 34px;
            right: -20px;
          }
        }
        .manageImg {
          width: 100%;
          grid-template-rows: repeat(2, minmax(185px, auto));
          img {
            max-width: 305px;
          }
        }
        .topTextBlock {
          margin-top: 20px;
          width: 100%;
          .topTestWrapLast {
            transform: translateX(0px);
          }
        }
      }
    }
    // next project

    .nextProject {
      min-height: 450px;
      .nextWrapper {
        min-height: 450px;
      }
    }
  }
}

@media (max-width: 768px) {
  .single {
    .headSection {
      .title {
        max-width: 100%;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 15px;
      }
      .hourWrap {
        .hourBlock {
          .hourTitle {
            font-size: 28px;
            line-height: 35px;
            span {
              font-size: 16px;
              line-height: 27px;
              margin-left: 8px;
            }
          }
        }
      }
    }
    // main

    .mainTask {
      .taskTitle {
        font-size: 28px;
        line-height: 1em;
      }
    }

    // dev

    .dev {
      .devTitle {
        font-size: 28px;
        line-height: 1em;
      }
    }

    // responsive
    .resp {
      .respTitle {
        font-size: 28px;
        line-height: 1em;
      }
      .respDescr {
        margin: 0 auto 20px;
      }
      .respWrap {
        display: none;
      }
    }
    // testing

    .testing {
      .testingTitle {
        font-size: 28px;
        line-height: 1em;
      }
      .taskDescr {
        max-width: 100%;
      }
    }
    // support

    .support {
      .supportTitle {
        font-size: 28px;
        line-height: 1em;
      }
    }
    // manage

    .manage {
      .topTitle {
        font-size: 24px;
        line-height: 1.1em;
      }
      .manageTopWrap {
        .manageImg {
          display: none;
        }
        .topTextBlock {
          .topTestWrapLast {
            .topTitle {
              font-size: 18px;
            }
          }
        }
      }
    }
    // next project

    .nextProject {
      min-height: 450px;
      .nextWrapper {
        min-height: 450px;
      }
    }
  }
}

@media (max-width: 578px) {
  .single {
    .headSection {
      .title {
        max-width: 100%;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 15px;
      }
      .hourWrap {
        .hourBlock {
          .hourTitle {
            font-size: 28px;
            line-height: 35px;
            span {
              font-size: 16px;
              line-height: 27px;
              margin-left: 8px;
            }
          }
        }
      }
    }
    // main

    .mainTask {
      .taskTitle {
        font-size: 28px;
        line-height: 1em;
      }
    }

    // dev

    .dev {
      .devTitle {
        font-size: 28px;
        line-height: 1em;
      }
    }

    // responsive
    .resp {
      .respTitle {
        font-size: 28px;
        line-height: 1em;
      }
      .respDescr {
        margin: 0 auto 20px;
      }
      .respWrap {
        display: none;
      }
    }
    // testing

    .testing {
      .testingTitle {
        font-size: 28px;
        line-height: 1em;
      }
      .taskDescr {
        max-width: 100%;
      }
    }
    // support

    .support {
      .supportTitle {
        font-size: 28px;
        line-height: 1em;
      }
    }
    // manage

    .manage {
      .topTitle {
        font-size: 24px;
        line-height: 1.1em;
      }
      .manageTopWrap {
        .manageImg {
          display: none;
        }
        .topTextBlock {
          .topTestWrapLast {
            .topTitle {
              font-size: 18px;
            }
          }
        }
      }
    }
    // next project

    .nextProject {
      min-height: 450px;
      .nextWrapper {
        min-height: 450px;
      }
    }
  }
}
