@import "@/assets/styles/variables.scss";

.works {
  padding: 50px 0 40px 0;
  overflow: hidden;
  .title {
    font-size: 40px;
    line-height: 1.3em;
    margin-bottom: 20px;
    color: $mainTextColor;
    text-align: center;
    font-weight: 700;
  }
  .descr {
    max-width: 830px;
    margin: 0 auto 45px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
  .wrapper {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-evenly;
  }
  .contentWrap {
    padding: 3% ;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: left;
  }
  .contentTitle {
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 1.2em;
    color: $mainTextColor;
    font-weight: 700;
  }
  .listItem {
    color: $mainTextColor;
    font-size: 18px;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    list-style-type: none;
    &:hover {
      color: $activeTextColor;
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
      &::before {
        background-color: $activeTextColor;
      }
    }
    &::before {
      position: absolute;
      content: "";
      width: 4px;
      height: 4px;
      top: 50%;
      left: 5px;
      border-radius: 50%;
      background-color: $mainTextColor;
      transform: translateY(-50%);
    }
  }
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    .button {
      cursor: pointer;
      margin: 0 auto;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 220px;
      height: 50px;
      font-weight: 500;
      font-size: 18px;
      line-height: 1;
      text-wrap: wrap;
      text-align: center;
      color: $activeTextColor;
      text-transform: uppercase;
      border: 2px $activeTextColor solid;
      border-radius: 50px;
      position: relative;
      z-index: 2;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      margin-top: 50px;
    }
  }
}

@media (max-width: 992px) {
  .works {
    padding-top: 50px;
    padding-bottom: 50px;
    .title {
      font-size: 35px;
      line-height: 1.1em;
    }
    .descr {
      max-width: 80%;
    }
    .wrapper {
      .contentWrap {
        width: 100%;
        .contentTitle {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .works {
    .btns {
      .button {
        font-size: 18px;
        line-height: 26px;
      }
    }
    .title {
      font-size: 35px;
      line-height: 1.1em;
    }
    .descr {
      max-width: 80%;
    }
    .wrapper {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .contentWrap {
        width: 100%;
        ul {
          text-align: center;
        }
        li {
          display: inline-block;
        }
        .contentTitle {
          font-size: 24px;
          text-align: center;
        }
      }
    }
  }
}
