@import "@/assets/styles/variables.scss";

.testimonials {
  padding-top: 100px;
  padding-bottom: 50px;
  .wrapper {
    max-width: 935px;
    margin: 0 auto;
    .sliderItem {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 65px 60px;
      width: 100%;
      height: 100%;
      &::before {
        position: absolute;
        content: url("/left.svg");
        pointer-events: none;
        left: 0;
        top: 0;
      }
      &::after {
        position: absolute;
        content: url("/right.svg");
        pointer-events: none;
        right: 0;
        bottom: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .testimonials {
    padding: 10px 0 80px 0;
  }
}
