@import '@/assets/styles/variables.scss';

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  .img {
    height: 90px;
    width: 90px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #c8cad6 4px 4px 4px, #fdfdff -4px -4px 4px;
    border-radius: 10px;
    margin-right: 20px;
    img {
      max-width: 45px;
      max-height: 45px;
    }
  }
  .title {
    color: $activeTextColor;
    font-family: "Space Grotesk";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
  }
}
