@import "@/assets/styles/variables.scss";

.services {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin-bottom: 60px;
  .img {
    height: 90px;
    width: 90px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #c8cad6 4px 4px 4px, #fdfdff -4px -4px 4px;
    margin-right: 20px;
    img {
      max-width: 45px;
      max-height: 45px;
    }
  }
  .title {
    color: $activeTextColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
  }
}

@media (max-width: 1440px) {
  .services {
    width: 250px;
    margin-bottom: 60px;
    .img {
      width: 75px;
      height: 75px;
      img {
        max-width: 35px;
        max-height: 35px;
      }
    }
  }
}

@media (max-width: 992px) {
  .services {
    width: 280px;
    margin-bottom: 40px;
    .img {
      height: 80px;
      width: 80px;
      img {
        max-width: 40px;
        max-height: 40px;
      }
    }
    .title {
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .services {
    width: 100%;
    margin-bottom:10px;
    justify-content: left;
    &:nth-child(even) {
      flex-direction: row-reverse;
      justify-content: right;
      .img {
        margin-left: 20px;
      }
      .title {
        font-size: 18px;
      }
    }
    .img {
      height: 80px;
      width: 80px;
      img {
        max-width: 40px;
        max-height: 40px;
      }
    }
    .title {
      font-size: 16px;
    }
  }
}
