@import "@/assets/styles/variables.scss";

.team {
  padding-top: 100px;
  padding-bottom: 70px;
  .title {
    text-align: center;
    font-size: 40px;
    line-height: 1.3em;
    margin-bottom: 20px;
    font-weight: 700;
    color: $mainTextColor;
  }
  .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .teamBlockWrap {
    width: 33%;
    padding: 40px;
    min-height: 546px;
  }
  .teamBlock {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-box-shadow: 0 3px 8px rgba(56, 60, 87, 0.2);
    box-shadow: 0 3px 8px rgba(56, 60, 87, 0.2);
    overflow: hidden;
  }
  .img {
    background-color: #EAEBEE;
    height: 390px;
    border-bottom: 2px solid $activeTextColor;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .info {
    height: 156px;
    padding: 40px 30px;
    background-color: #fff;
    .name {
      margin-bottom: 10px;
      font-size: 25px;
      line-height: 35px;
      font-weight: 700;
      color: $mainTextColor;
    }
    .position {
      font-size: 18px;
      color: $activeTextColor;
      line-height: 25px;
    }
  }
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    .btn {
      cursor: pointer;
      color: #fff;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-weight: 700;
      font-size: 24px;
      line-height: 23px;
      white-space: nowrap;
      padding: 1.1rem 2.4rem 1.1rem 2.1rem;
      border-radius: 50px;
      color: #fff;
      background-color: #000;
      position: relative;
      overflow: hidden;
      -webkit-transition: -webkit-transform 0.4s
        cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
        -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      .btnText {
        display: inline-block;
        will-change: transform;
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
        -webkit-transition: -webkit-transform 0.4s
          cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
          -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: calc(50% - 0.2rem);
        right: 1.5rem;
        border-radius: 50%;
        background-color: #fff;
        will-change: transform;
        -webkit-transition: -webkit-transform 0.7s
          cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: -webkit-transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1),
          -webkit-transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      &:hover {
        .btnText {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
        &::after {
          -webkit-transform: translate3d(4.4rem, 0, 0) scale(0.2);
          transform: translate3d(4.4rem, 0, 0) scale(0.2);
        }
      }
    }
  }
  .sliderWrapper {
    display: none;
  }
}

@media (max-width: 1440px) {
  .team {
    .title {
      font-size: 35px;
      line-height: 1.2em;
      margin-bottom: 15px;
    }
    .wrapper {
      .teamBlockWrap {
        padding: 15px;
        .teamBlock {
          .img {
            height: 320px;
            img {
              height: 320px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .team {
    .wrapper {
      display: none;
    }
    .sliderWrapper {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .team {
    .wrapper {
      display: none;
    }
    .teamBlockWrap {
      padding: 10px;
      .teamBlock {
        .img {
          height: 280px;
          img {
            height: 280px;
          }
        }
      }
    }
  }
}
