@import "@/assets/styles/variables.scss";

.footer {
  margin: 150px 50px 50px;
  position: relative;
  &::after {
    content: "";
    height: 4rem;
    position: absolute;
    z-index: 1;
    width: calc(100% - 0.5rem);
    left: 0.25rem;
    right: 0.25rem;
    bottom: calc(100% - 0.5rem);
    clip-path: polygon(5% 0%, 95% 0%, 100% 103%, 0% 103%);
    background: linear-gradient(360deg, rgb(0, 0, 0) -5.71%, transparent 100%);
  }
  .block {
    border-radius: 25px 25px 0 0;
    display: grid;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #000000;
    background-image: none;
    width: auto;
    align-content: center;
  }
  .content {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    display: grid;
    overflow-wrap: anywhere;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .logo {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    svg {
      fill: #fff;
      path,
      line {
        fill: #fff;
        stroke: #fff;
      }
    }
  }
  .title {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    position: relative;
    justify-content: center;
    position: relative;
    transition: all 1s;
    cursor: pointer;
    &:hover {
      h2 {
        opacity: 0;
      }
      h3 {
        opacity: 1;
      }
    }
    h2 {
      font-weight: 700;
      font-size: 60px;
      text-transform: uppercase;
      color: #fff;
      margin: 0;
      line-height: 1.5;
      transition: all 1s;
    }
    h3 {
      transition: all 1s;
      position: absolute;
      content: "";
      left: 60%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      opacity: 0;
      color: #fff;
      text-transform: uppercase;
      font-size: 35px;
    }
  }
  .contact {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    .btn {
      cursor: pointer;
      color: #000;
      background-color: #fff;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: flex-end;
      font-weight: 700;
      font-size: 24px;
      line-height: 23px;
      white-space: nowrap;
      padding: 1.1rem 2.4rem 1.1rem 2.1rem;
      border-radius: 50px;
      position: relative;
      overflow: hidden;
      -webkit-transition: -webkit-transform 0.4s
        cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
        -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      span {
        cursor: pointer;
        display: inline-block;
        will-change: transform;
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
        -webkit-transition: -webkit-transform 0.4s
          cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
          -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      &::after {
        background-color: #000;
        z-index: 555;
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: calc(50%);
        right: 1.5rem;
        border-radius: 50%;
        transform: translateY(-50%);
        will-change: transform;
        -webkit-transition: -webkit-transform 0.7s
          cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: -webkit-transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1),
          -webkit-transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      &:hover {
        span {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
        &::after {
          -webkit-transform: translate3d(4.4rem, 0, 0) scale(0.2);
          transform: translate3d(4.4rem, 0, 0) scale(0.2);
        }
      }
    }
  }
  .last {
    // border-top: 1px solid #404040;
    border-radius: 0 0 25px 25px;
    display: grid;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #000000;
    background-image: none;
    min-height: 30px;
    width: auto;
    align-content: center;
    justify-content: center;
    h4 {
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      color: #dde1ed;
      display: flex;
      margin-bottom: 0;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1450px) {
  .footer {
    .title {
      h2 {
        font-size: 45px;
      }
    }
    .contact {
      .btn {
        font-size: 18px;
        line-height: 18px;
        padding: 0.7rem 1.5rem 0.7rem 1rem;
        &::after {
          width: 4px;
          height: 4px;
          top: calc(50% - 1px);
          right: 0.9rem;
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .footer {
    margin: 50px 0 0 0;
    &::after {
      position: relative;
    }
    .block,
    .last {
      border-radius: 0;
    }
  }
}

@media (max-width: 992px) {
  .footer {
    .title {
      h2 {
        font-size: 35px;
      }
    }
  }
}

@media (max-width: 568px) {
  .footer {
    margin: 0;
    .title {
      display: none;
    }
    .block {
      .content {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
