@import "@/assets/styles/variables.scss";

.headSection {
  padding: 140px 0 100px;
  height: 100vh;
  min-height: 900px;
  overflow: hidden;
  .title {
    opacity: 0;
    display: block;
    max-width: 1100px;
    font-weight: 700;
    color: $mainTextColor;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    margin: 0 auto 20px;
  }
  .secondTitle {
    opacity: 0;
    color: $activeTextColor;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .subTitle {
    opacity: 0;
    font-weight: 800;
    font-size: 300px;
    line-height: 1;
    color: $mainTextColor;
    text-shadow: #c8cad6 4px 4px 4px, #fdfdff -4px -4px 4px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
  }
  .wrapper {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 20px;
    position: relative;

    .benefitsItem {
      padding: 0 20px;

      .benefitsTitle {
        display: block;
        margin-bottom: 40px;
        font-size: 27px;
        line-height: 30px;
        font-weight: 700;
        color: $mainTextColor;
      }

      .benefitsSubtitle {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-weight: 700;
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -0.015em;
        color: $mainTextColor;
        span {
          font-size: 40px;
          margin-left: 20px;
        }
      }

      .benefitsDescr {
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        color: $activeTextColor;
        line-height: 30px;
      }
    }
  }
  #scroll {
    position: absolute;
    z-index: 7;
    right: 0;
    bottom: 10px;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
    .scroll {
      border-left: 2px solid $mainTextColor;
      height: 50px;
      position: absolute;
      left: 50%;
      &::before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-left: -5px;
        margin-bottom: 17px;
        border: 1.5px solid #ffdad6;
        border-radius: 7.5px;
        background-color: $activeTextColor;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;
      }
    }
  }
}

@keyframes action {
  0% {
    -webkit-transform: scale(1) translateY(-3px);
    transform: scale(1) translateY(-3px);
  }
  100% {
    -webkit-transform: scale(2) translateY(23px);
    transform: scale(2) translateY(23px);
  }
}

@media (max-width: 1440px) {
  .headSection {
    .subTitle {
      font-size: 200px;
    }
    .title {
      max-width: 60%;
      font-size: 45px;
      line-height: 50px;
    }
  }
}

@media (max-width: 1024px) {
  .headSection {
    .subTitle {
      font-size: 170px;
    }
    .title {
      max-width: 60%;
      font-size: 36px;
      line-height: 46px;
    }
  }
}

@media (max-width: 992px) {
  .headSection {
    .subTitle {
      font-size: 145px;
    }
    .secondTitle {
      font-size: 22px;
    }
  }
}

@media (max-width: 768px) {
  .headSection {
    min-height: 400px;
    height: auto;
    padding: 140px 0 0px;
    .title {
      max-width: 90%;
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 15px;
    }
    .subTitle {
      font-size: 70px;
    }
    .secondTitle {
      font-size: 18px;
    }
    .wrapper {
      flex-wrap: wrap;
      .benefitsItem {
        margin-bottom: 30px;
        text-align: center;
        .benefitsTitle {
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 5px;
        }
        .benefitsSubtitle {
          font-size: 30px;
          line-height: 30px;
          h5 {
            font-size: 30px;
            line-height: 30px;
          }
          span {
            font-size: 20px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .headSection {
    .subTitle {
      font-size: 50px;
    }
  }
}
